.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-5);
  margin-bottom: var(--space-24);
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
